



<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-4">Grid CSS is a lightweight responsive and fluid layout utility optimized for mobile devices, tablets and desktops. Grid CSS is used internally in PrimeNG components and can be used as standalone as well.</div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">Grid CSS is a lightweight responsive and fluid layout utility optimized for mobile devices, tablets and desktops. Grid CSS is used internally in PrimeNG components and can be used as standalone as well.</div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">Grid CSS is a lightweight responsive and fluid layout utility optimized for mobile devices, tablets and desktops. Grid CSS is used internally in PrimeNG components and can be used as standalone as well.</div>
</div>
