
 <p style="padding-top: 20px">This is About child  of Home Root</p>
<div style="padding-top: 30px;background-color: orange;height: 90px">

 <div class="ui-g">
   
  <div class="ui-g-4">
    <a routerLink="nested">  About Child</a>
  </div>

  <div class="ui-g-4">
    <a routerLink="nested">  About Child</a>
  </div>
    <div class="ui-g-4">
    <a routerLink="nested">  About Child</a>
  </div>
    <!-- <div class="ui-g-3">Col1</div>
    <div class="ui-g-3">Col2</div>
    <div class="ui-g-3">Col2</div>
    <div class="ui-g-3">Col2</div> -->
</div>
</div>


<router-outlet></router-outlet>








