<div class="ui-g">
    <div class="ui-g-4">Col1</div>
    <div class="ui-g-4">Col2</div>
    <div class="ui-g-4">Col3</div>
</div>

<div class="ui-g">
    <div class="ui-g-12 ui-md-4">ui-g-12 ui-md-4</div>
    <div class="ui-g-12 ui-md-4 ui-md-offset-4">ui-g-12 i-md-4 ui-md-offset-4</div>
</div>


<p-tabView>
    <p-tabPanel header="Header 1">
        Content 1
    </p-tabPanel>
    <p-tabPanel header="Header 2">
        Content 2
    </p-tabPanel>
    <p-tabPanel header="Header 3">
        Content 3
    </p-tabPanel>
</p-tabView>